* {
  box-sizing: border-box;
}

h1 {
  margin: auto;
  font-size: 4rem;
  animation: pulsate 1.5s infinite alternate;
}

span {
  cursor: pointer;
  color: red;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  margin: auto;
  font-size: 3rem;
  animation: pulsateRestart 1.5s infinite alternate;
}

span:hover {
  font-size: 3.1rem;
}

h2 {
  font-size: 3rem;
  animation: flicker 1.5s infinite alternate;
}

h1,
h2 {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  color: #fff;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px black,
      0 0 80px black, 0 0 90px black, 0 0 100px black, 0 0 150px black;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px black,
      0 0 45px black, 0 0 55px black, 0 0 70px black, 0 0 80px black;
  }
}

@keyframes pulsateRestart {
  100% {
    text-shadow: 0 0 4px red, 0 0 11px red, 0 0 19px red, 0 0 40px black,
      0 0 80px black, 0 0 90px black, 0 0 100px black, 0 0 150px black;
  }

  0% {
    text-shadow: 0 0 2px red, 0 0 4px red, 0 0 6px red, 0 0 10px black,
      0 0 45px black, 0 0 55px black, 0 0 70px black, 0 0 80px black;
  }
}

@keyframes pulsateX {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px purple,
      0 0 80px purple, 0 0 90px purple, 0 0 100px purple, 0 0 150px purple;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px purple,
      0 0 45px purple, 0 0 55px purple, 0 0 70px purple, 0 0 80px purple;
  }
}

@keyframes pulsateO {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px yellow,
      0 0 80px yellow, 0 0 90px yellow, 0 0 100px yellow, 0 0 150px yellow;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px yellow,
      0 0 45px yellow, 0 0 55px yellow, 0 0 70px yellow, 0 0 80px yellow;
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px black,
      0 0 80px black, 0 0 90px black, 0 0 100px black, 0 0 150px black;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#game {
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  color: #fff;
}

body {
  background-image: url(img/wall.jpg);
  background-size: 100%;
}

#game {
  height: 680px;
  width: 680px;
  display: grid;
  grid-template-columns: 1fr 0.05fr 1fr 0.05fr 1fr;
  grid-template-rows: 1fr 0.05fr 1fr 0.05fr 1fr;
  grid-gap: 0px;
}

#game > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 175px;
}

.pos {
  cursor: pointer;
}

.vert_line {
  background-color: #fff;
  height: 100%;
  width: 12px;
  box-shadow: 0px 0px 15px 10px #fff;
}

.horiz-line {
  background-color: #fff;
  height: 12px;
  width: 100%;
  box-shadow: 0px 0px 15px 10px #fff;
}